@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Noto+Sans+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
h3{
    font-family: 'Noto Sans Mono', monospace;
}
h2{
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: 'Bungee Spice', cursive;
    font-size: xx-large;
    text-align: center;
}
body { 
    background: #889cd5; 
}
main{
    position: relative;
    margin-top: 100px;
}
header{
    top:0;
}
header, footer {
    padding: 30px;
    background: #042b52;
    color: #fff;
    width: 120%;
    position: absolute;
    left:0;
    right: 0;
    
}
footer{
    margin-top: 1em;
    padding: 2em 1em 2em;
   
}
aside {
    font-family: Impact, Charcoal, sans-serif;
    text-align: justify;
    width: 30%;
    padding: 2em ;
    float: right;
    color: #fff;
}
header nav, .partOfLogo, #logo, div {
    display: inline-block;
}
header nav {
    width: 80%;
    text-align: justify;
}
#up, #down{
    text-align: center;
    background-color: antiquewhite;
    padding: 7px;
    border-radius: 35%;
}
#up{
    position: sticky;
    top: 10px;
    z-index: 2;
}
#down{
    position: fixed;
    left: 10px;
    z-index: 1;
}
#up a, #down a{
    color: #010d19;
    text-decoration: none;
}
#logo a{
    align-content: flex-start;
    color:#ee930a;
    text-decoration: none;
}
nav > div{
    
    position: relative;
    left: 200px;
    padding: 10px;
    
}
#logo{
    margin-right: 5px;
    display: inline;
    position: absolute;
    
}
.partOfLogo {
    position:relative;
    border: 8px solid gold;
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

blockquote, cite {
    text-align: right;
    display: block;
}
dt ~ dd {
    font-family: "Courier New", Courier, monospace;
}
cite + p{
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: small;
} 

.solarSystem img{
    width: 650px;
    height: 500px;
    float: inherit; 
}
nav div a:link{
    color:white; 
    text-decoration: none;
}
address a, nav a:visited{
    color:rgb(94, 182, 240);
}
nav a:hover{
    color: rgb(207, 107, 25);
}
nav a:active{
    color: rgb(201, 33, 7);
}
#img1 {
    float: right;
    width: 600px;
    height: 450px;
    padding: 20px;
}
#imgSection {
    float: left;
    padding: 20px;
}
section{
    margin-left: 60px;
    margin-top: 20px;
}
address{
    text-align: center;
}

